@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --fuente: 'Roboto Slab', serif;
    --background: #1F1F1F;
    --color: #00D200;
    --shadow: rgba(0, 0, 0, .5);
    --hover: #44E144;
    --bg-titulo: rgba(255, 255, 255, .30);
    --color-secundario: #BEC6D5;
    --white: #ffffff;
    --black: #000000;
    --icono: #2A72C0;
    --error: #f66060;
}

body {
    background: var(--background);
    font-size: 1.125em;
    font-family: var(--fuente);
}

p{
    margin-bottom: 20px;
    padding: 10px 0;
    line-height: 25px;
    color: var(--color-secundario);
}

a{text-decoration: none;}

.contenedor {
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header        header          header"
                        "imagen         imagen          imagen"
                        "informacion    informacion     informacion"
                        "lenguajes      lenguajes       lenguajes"
                        "contacto       contacto        contacto"
                        "footer         footer          footer";
}

/**--------------------------------------------------------------*/
            /*!----------------- Header -----------------*/
/**--------------------------------------------------------------*/

.header {
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0px 0px 30px var(--shadow);
    transition: .3s all ease-in-out;
}

.header2{
    position: fixed;
    width: 100%;
    background: var(--background);
    z-index: 1;
}

.header2 .header__logo{
    width: 9.375rem;
    padding: 5px;
    margin-left: 50px;
}

.header__logo{
    width: 13.75rem;
    height: auto;
    padding: 10px;
    margin-left: 20px;
}

.header__nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 20px;
}

.header__enlaces{
    margin: 0 5px;
    padding: 12px 15px;
    min-width: 100px;
    font-size: 1.1875rem;
    display: flex;
    color: var(--color);
    border-radius: 100px;
    text-decoration: none;
    justify-content: center;
    transition: .5s all ease-in-out;
}

.header__enlaces:hover{
    background: var(--color);
    color: var(--white);
}

.parallax, .informacion, .lenguajes, .contacto{max-width: 1600px; margin: 0 auto}

/**--------------------------------------------------------------*/
            /*!----------------- Parallax -----------------*/
/**--------------------------------------------------------------*/

.parallax{
    grid-area: imagen;
    position: relative;
    height: 600px;
    overflow: hidden;
    width: 100%;
}

.parallax__imagen{
    position: absolute;
    width: 100%;
    height: 850px;
    z-index: -1;
}

.parallax__titulo{
    width: 20%;
    padding: 10px;
    min-width: 270px;
    display: flex;
    color: var(--color);
    margin: 200px 40% 0;
    border-radius: 3px;
    font-size: 2.375rem;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    background: var(--bg-titulo);
    backdrop-filter: blur(10px);
}

/**--------------------------------------------------------------*/
            /*!----------------- Información -----------------*/
/**--------------------------------------------------------------*/

.informacion{
    grid-area: informacion;
    max-width: 900px;
    margin: 10px auto;
    padding: 0px 30px 0;
}

.informacion__titulo{
    margin: 0px 0 10px;
    padding: 20px 0;
    color: var(--color);
    font-size: 38px;
    font-weight: bold;
}

.informacion__subtitulo{
    margin: 0 0 10px;
    padding: 10px 0;
    color: var(--color);
    font-weight: bold;
}

.informacion__primer--parrafo{
    display: grid;
    gap: 10px;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: "izquierda  img";
}

.informacion__principal{
    grid-area: izquierda;
}

.informacion__img {
    grid-area: img;
    max-width: 270px;
    height: auto;
    border-radius: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/**--------------------------------------------------------------*/
            /*!----------------- Lenguajes -----------------*/
/**--------------------------------------------------------------*/

.habilidades{
    grid-area: lenguajes;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    flex-direction: column;
}

.habilidades__imagenes{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px 10px;
    align-items: center;
    justify-content: center;
}

.habilidades__img{
    width: 9.375rem;
    height: auto;
    display: flex;
    padding: 10px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(3px 3px 3px var(--color-secundario));
}


/**--------------------------------------------------------------*/
            /*!----------------- Formulario -----------------*/
/**--------------------------------------------------------------*/

.formulario{
    grid-area: contacto;
    width: 50%;
    margin: 0 auto;
}

.formulario__titulo{
    text-align: center;
}

.formulario__label{
    display: block;
    padding: 15px 10px 5px;
    cursor: pointer;
    color: var(--white);
}

.formulario__grupo-input{
    position: relative;
}

.formulario__input{
    width: 100%;
    background: var(--white);
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 10px;
    transition: .3s ease all;
}

.formulario__textarea{
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    margin: 5px 0;
    border: 3px solid transparent;
}

.formulario__input:focus,
.formulario__textarea:focus{
    border: 3px solid var(--icono);
    outline: none;
    box-shadow: 3px 0px 30px var(--shadow);
}

.formulario__input-error{
    font-size: 0.9375rem;
    margin: 0;
    padding: 5px 10px;
    display: none;
    color: var(--error);
}

.formulario__input-error-activo{
    display: block;
}

.formulario__validacion-estado{
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 1.0625rem;
    opacity: 0;
}

.formulario__mensaje{
    height: 45px;
    line-height: 45px;
    background: var(--error);
    padding: 0px 15px;
    display: none;
}

.formulario__mensaje-activo{
    display: block;
}

.formulario__mensaje p{
    margin: 0;
    padding: 10px;
}

.formulario__grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: var(--white);
    color: var(--black);
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s ease all;
    margin: 10px 0 0;
}

.formulario__btn:hover{
    color: var(--white);
    background-color: var(--color);
    box-shadow: 3px 0px 30px var(--shadow);
}

.formulario__mensaje-exito{
    font-size: 1rem;
    color: var(--color);
    display: none;
}

.formulario__mensaje-exito-activo{
    display: block;
}

/**--------------------------- Estilos para a validacion ---------------------------*/

.formulario__grupo-correcto .formulario__validacion-estado{
    color: var(--color);
    opacity: 1;
}

.formulario__grupo-correcto .formulario__input{
    border: 3px solid var(--color);
}

.formulario__grupo-incorrecto .formulario__label{
    color: var(--error);
}

.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: var(--error);
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
    border: 3px solid var(--error);
}

/**--------------------------- Para el textarea ---------------------------*/

.formulario__grupo-textarea-correcto .formulario__validacion-estado{
    color: var(--color);
    opacity: 1;
}

.formulario__grupo-textarea-correcto .formulario__textarea{
    border: 3px solid var(--color);
}

.formulario__grupo-textarea-incorrecto .formulario__label{
    color: var(--error);
}

.formulario__grupo-textarea-incorrecto .formulario__validacion-estado{
    color: var(--error);
    opacity: 1;
}

.formulario__grupo-textarea-incorrecto .formulario__textarea{
    border: 3px solid var(--error);
}

/**--------------------------------------------------------------*/
            /*!----------------- Footer -----------------*/
/**--------------------------------------------------------------*/

footer p{
    margin: 0;
    padding: 0;
}

.footer {
    grid-area: footer;
    min-height: 130px;
    box-shadow: 0px 0px 30px var(--shadow);
}

.footer__iconos{
    display: flex;
    justify-content: space-around;
}

.footer__parrafo{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    flex-wrap: wrap;
}

.icono{
    font-size: 2.1875rem;
    line-height: 2.1875rem;
    margin: 20px 0 10px;
    padding: 10px;
    width: 3.4375rem;
    height: 3.4375rem;
    cursor: pointer;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    color: var(--white);
    background-color: var(--icono);
    overflow: hidden;
    transition: .3s all ease-in-out;
}

.icono:hover{
    background-color: var(--white);
    color: var(--icono);
}

.icono__subir{
    margin: 0;
    right: 10px;
    bottom: 10px;
    position: fixed;
    background: transparent;
    border: 1px solid var(--shadow);
    display: flex;
    align-items: center;
    padding: 5px;
    backdrop-filter: blur(10px);
}

.icono__subir:hover{
    background: var(--shadow);
    color: var(--white);
}

.icono__nav{
    background: transparent !important;
    color: var(--color) !important;
    display: none !important;
    transition: .3s ease all;
    z-index: 1;
}

.icono__nav:hover{background: var(--shadow) !important;}

.icono__flex{display: flex !important}
.icono__none{display: none !important}

@media screen and (max-width: 1000px) {
    .body{font-size: 1.0625rem;}
    .formulario{width: 65%;}
}

@media  (max-width: 890px) {
    body{font-size: 1.0313rem;}
    .informacion__primer--parrafo{
        grid-template-columns: 1fr;
        grid-template-areas: "izquierda"  "img";
    }
    .parallax{height: 450px;}
    .parallax__titulo{
        width: 60%;
        margin: 150px 20% 0;
    }
    .formulario{width: 75%;}
}

@media screen and (max-width: 668px) {
    body{
        font-size: 1rem;
    }
    .formulario{
        width: 90%;
    }

    .header{
        justify-content: center;
    }

    .header__nav{
        margin-right: 0;
    }

    .header2 .header__logo{
        /* margin-left: 20px; */
        display: none;
    }

    .header2 .icono__nav{margin: 5px 20px;}
    .habilidades__imagenes{grid-template-columns: 1fr 1fr;}
    .habilidades__img{width: 8.75rem;}
}

@media screen and (max-width: 430px) {
    .parallax__titulo{
        width: 80%;
        min-width: auto;
        margin: 150px 10% 0;
    }
    .habilidades{margin: 5px}
    .habilidades__img{width: 8.4375rem;}
}

@media screen and (max-width: 300px){
    .habilidades__imagenes{grid-template-columns: 1fr;}
}