@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
:root{
    --fuente: 'Montserrat', sans-serif;
    --background: #1F1F1F;
    --color: #00D200;
    --shadow: rgba(0, 0, 0, .5);
    --hover: #44E144;
    --bg-titulo: rgba(255, 255, 255, .30);
    /* --color-secundario: #BEC6D5; */
    --color-secundario: #FEFEFE;
    --white: #ffffff;
    --black: #000000;
    --icono: #2A72C0;
    --error: #f66060;
}

/* *::selection{
    background: var(--color);
    color: var(--white);
} */

body::-webkit-scrollbar{
    width: 7px;
}
body::-webkit-scrollbar-thumb{
    background: var(--color);
    border-radius: 10px;
}


body {
    background: var(--background);
    font-size: 1.125rem;
    font-family: var(--fuente);
    transition: .3s all ease-in-out;
    animation: fadein 1s;
    word-wrap: break-word;
}

p{
    overflow: hidden;
    padding: 0.625rem 0;
    line-height: 1.5625rem;
    margin-bottom: 1.25rem;
    color: var(--color-secundario);
}

a{
    overflow: hidden;
    /* height: auto; */
    text-decoration: none;
    color: var(--color-secundario);
    border-bottom: 2px solid transparent;
}
.enlace__footer:hover{
    border-bottom: 2px solid var(--color-secundario);;
}

.contenedor {
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: auto;
    grid-template-areas: "header        header          header"
                        "imagen         imagen          imagen"
                        "informacion    informacion     informacion"
                        "lenguajes      lenguajes       lenguajes"
                        /* "parrafo"       "parrafo"       "parrafo" */
                        "contacto       contacto        contacto"
                        "footer         footer          footer";
}

/**--------------------------------------------------------------*/
            /*!----------------- Header -----------------*/
/**--------------------------------------------------------------*/

.header{
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 30px var(--shadow);
    transition: .3s all ease-in-out;
}

.header2{
    position: fixed;
    width: 100%;
    background: var(--background);
    z-index: 1;
}

.header__logo{
    width: 13.75rem;
    height: auto;
    padding: 10px;
    margin-left: 20px;
}

.header2 .header__logo{
    width: 9.375rem;
    padding: 5px;
}

.header__nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 20px;
}

.header__enlaces{
    margin: 0 5px;
    padding: 12px 15px;
    min-width: 100px;
    display: flex;
    cursor: pointer;
    color: var(--color);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    transition: .5s all ease-in-out;
}

.header__enlaces:hover{
    background: var(--color);
    color: var(--white);
}

.parallax, .informacion, .lenguajes, .contacto{max-width: 1600px; margin: 0 auto}

/**--------------------------------------------------------------*/
            /*!----------------- Parallax -----------------*/
/**--------------------------------------------------------------*/

.parallax{
    grid-area: imagen;
    position: sticky;
    height: 600px;
    overflow: hidden;
    width: 100%;
}

.parallax__imagen{
    position: absolute;
    width: 100%;
    height: 850px;
    z-index: -1;
}

.parallax__titulo{
    width: 20%;
    padding: 10px;
    min-width: 270px;
    display: flex;
    color: var(--color);
    margin: 200px 40% 0;
    border-radius: 3px;
    font-size: 2.375rem;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    background: var(--bg-titulo);
    backdrop-filter: blur(10px);
}

/**--------------------------------------------------------------*/
            /*!----------------- Información -----------------*/
/**--------------------------------------------------------------*/

.informacion{
    grid-area: informacion;
    max-width: 900px;
    margin: 10px auto;
    padding: 0px 30px 0;
    position: sticky;
}

.informacion__titulo{
    margin: 1.5625rem 0 0.625rem;
    color: var(--color);
    font-size: 2.375rem;
    font-weight: bold;
    padding: 3px 0;
    height: auto;
}

.informacion__subtitulo{
    margin: 0 0 10px;
    padding: 10px 0;
    color: var(--color);
    font-weight: bold;
    height: auto;
}

.informacion__primer--parrafo{
    display: grid;
    gap: 10px;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: "parrafo  img";
}

.informacion__principal{
    grid-area: parrafo;
}

.informacion__img {
    grid-area: img;
    width: 100%;
    max-width: 16.875rem;
    height: auto;
    border-radius: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

/**--------------------------------------------------------------*/
            /*!----------------- Lenguajes -----------------*/
/**--------------------------------------------------------------*/

.habilidades{
    grid-area: lenguajes;
    margin: 10px auto;
}

.habilidades__imagenes{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin: 5px 10px;
    align-items: center;
    justify-content: center;
}

.img__centro{grid-column: span 3}

.habilidades__img{
    width: 9.375rem;
    height: auto;
    display: flex;
    padding: 10px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(3px 3px 3px var(--color-secundario));
}


/* .parrafo_lenguajes{
    grid-area: parrafo;
    max-width: 900px;
    margin: 10px auto;
    padding: 0px 30px 0;
    position: sticky;
} */

/**--------------------------------------------------------------*/
            /*!----------------- Formulario -----------------*/
/**--------------------------------------------------------------*/

.formulario{
    grid-area: contacto;
    width: 50%;
    margin: 0 auto;
}

.formulario__titulo{
    text-align: center;
}

.formulario__label{
    display: block;
    padding: 15px 10px 5px;
    cursor: pointer;
    color: var(--white);
}

.formulario__grupo-input{
    position: relative;
}

.formulario__input{
    width: 100%;
    background: var(--white);
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 10px;
    transition: .3s ease all;
}

.formulario__textarea{
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    margin: 5px 0;
    border: 3px solid transparent;
}

.formulario__input:focus,
.formulario__textarea:focus{
    border: 3px solid var(--icono);
    outline: none;
    box-shadow: 3px 0px 30px var(--shadow);
}

.formulario__input-error{
    font-size: 0.9375rem;
    margin: 0;
    padding: 5px 10px;
    display: none;
    color: var(--error);
}

.formulario__input-error-activo{
    display: block;
}

.formulario__validacion-estado{
    position: absolute;
    right: 10px;
    top: 13px;
    font-size: 1.0625rem;
    opacity: 0;
}

.formulario__mensaje{
    height: auto;
    line-height: 45px;
    background: var(--error);
    padding: 0px 15px;
    border-radius: 5px;
    display: none;
    margin: 5px 0;
}

.formulario__mensaje-activo{
    display: block;
}

.formulario__mensaje p{
    margin: 0;
    padding: 10px;
    color: var(--white);
}

.formulario__grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: var(--white);
    color: var(--black);
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s ease all;
    margin: 10px 0 0;
}

.formulario__btn:hover{
    color: var(--white);
    background-color: var(--color);
    box-shadow: 3px 0px 30px var(--shadow);
}

.formulario__mensaje-exito{
    font-size: 1rem;
    color: var(--color);
    display: none;
}

.formulario__mensaje-exito-activo{
    display: block;
}

/**--------------------------- Estilos para a validacion ---------------------------*/

.formulario__grupo-correcto .formulario__validacion-estado{
    color: var(--color);
    opacity: 1;
}

.formulario__grupo-correcto .formulario__input{
    border: 3px solid var(--color);
}

.formulario__grupo-incorrecto .formulario__label{
    color: var(--error);
}

.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: var(--error);
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
    border: 3px solid var(--error);
}

/**--------------------------- Para el textarea ---------------------------*/

.formulario__grupo-textarea-correcto .formulario__validacion-estado{
    color: var(--color);
    opacity: 1;
}

.formulario__grupo-textarea-correcto .formulario__textarea{
    border: 3px solid var(--color);
}

.formulario__grupo-textarea-incorrecto .formulario__label{
    color: var(--error);
}

.formulario__grupo-textarea-incorrecto .formulario__validacion-estado{
    color: var(--error);
    opacity: 1;
}

.formulario__grupo-textarea-incorrecto .formulario__textarea{
    border: 3px solid var(--error);
}

/**--------------------------------------------------------------*/
            /*!----------------- Footer -----------------*/
/**--------------------------------------------------------------*/

footer p{
    margin: 0;
    padding: 0;
}

.footer {
    grid-area: footer;
    min-height: 130px;
    box-shadow: 0px 0px 30px var(--shadow);
}

.footer__iconos{
    display: flex;
    justify-content: space-around;
}

.footer__parrafo{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    flex-wrap: wrap;
}

.icono{
    font-size: 2.1875rem;
    line-height: 2.1875rem;
    margin: 20px 0 10px;
    padding: 10px;
    width: 3.4375rem;
    min-height: 3.4375rem;
    cursor: pointer;
    border-radius: 100%;
    display: flex;
    justify-content: center !important;
    color: var(--white);
    background-color: var(--icono);
    transition: .3s all ease-in-out;
}

.icono:hover{
    background-color: var(--white);
    color: var(--icono);
}

.icono__subir{
    margin: 0;
    right: 10px;
    bottom: 10px;
    position: fixed;
    background: transparent;
    border: 1px solid var(--shadow);
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
}

.icono__subir:hover{
    background: var(--shadow);
    color: var(--white);
}

.hamburguesa{
    display: none !important;
    margin-right: 20px;
}

.icono__hamburguesa{
    background: transparent !important;
    color: var(--color) !important;
    margin: 0;
    display: flex !important;
    justify-content: center !important;
}

.icono__hamburguesa:hover{background: var(--shadow) !important;}

.icono__nav{margin-right: 5px;}

.icono__flex{display: flex !important}
.icono__none{display: none !important}

.fa, .fab, .fad, .fal, .far, .fas{
    line-height: normal !important;
}

/**--------------------------- Menjsae de error para internet exporer ---------------------------*/

.error__ie{
    font-size: 1.25rem;
    color: #000;
    background: #ff0000;
    padding: 10px;
    width: 100%;
    height: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block !important;
    z-index:99999;
}

/**--------------------------------------------------------------*/
            /*!----------------- tamaños -----------------*/
/**--------------------------------------------------------------*/

@media screen and (max-width: 1000px) {
    .body{font-size: 1.0625rem;}
    .formulario{width: 65%;}
}

@media  (max-width: 890px) {
    body{font-size: 1.0313rem;}
    .informacion__primer--parrafo{
        grid-template-columns: 1fr;
        grid-template-areas: "parrafo"  "img";
    }
    .parallax{height: 450px;}
    .parallax__imagen{height: 600px;}
    .parallax__titulo{
        width: 60%;
        margin: 150px 20% 0;
    }
    .formulario{width: 75%;}
}

@media screen and (max-width: 668px) {
    body{
        font-size: 1rem;
    }
    .formulario{
        width: 90%;
    }

    .hamburguesa{
        display: block !important;
    }

    .header__nav{
        position: fixed;
        margin-left: 0;
        top: 101.3px;
        left: 0;
        width: 70%;
        z-index: 2;
        padding: 10px;
        height: 100vh;
        background: var(--background);
        color: white;
        box-shadow: 0px 0px 3px var(--shadow);
        flex-direction: column;
        justify-content: space-evenly;
        transition: .5s all ease-in-out;
        transform: translateX(-100%);
    }

    .header__nav2{
        transform: translateX(0%);
    }

    .header2 .header__nav{
        top: 67px;
    }

    .habilidades__imagenes{grid-template-columns: 1fr 1fr;}
    .img__centro{grid-column: span 2}
    .habilidades__img{width: 8.75rem;}
}

@media screen and (max-width: 430px) {
    .parallax__titulo{
        width: 80%;
        min-width: auto;
        margin: 150px 10% 0;
    }
    .informacion{padding: 0 10px 0}
    .habilidades{margin: 5px}
    .habilidades__img{width: 8.4375rem;}
}

@media screen and (max-width: 300px){
    .habilidades__imagenes{grid-template-columns: 1fr;}
    .img__centro{grid-column: span 1}
}

@media screen and (min-width: 1600px) {
    html{
        font-size: 25px;
    }
}