@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

$background: #0d1117;
$segundo-bg: #181719;
$white: #fff;
$black: #000;
// $primary: #00d200;
$primary: #2a72c0;
$hover: #44e144;
$info: #2a72c0;
$danger: #f66060;
$secundary: #fefefe;
$orange: #ffa500;
$shadow: rgba(0, 0, 0, 0.5);
$bg-title: rgba(255, 255, 255, 0.3);

$font: 'Montserrat', sans-serif;

:root {
	--fuente: 'Montserrat', sans-serif;
	--background: #0d1117;
	--color: #00d200;
	--shadow: rgba(0, 0, 0, 0.5);
	--hover: #44e144;
	--bg-titulo: rgba(255, 255, 255, 0.3);
	/* --color-secundario: #BEC6D5; */
	--color-secundario: #fefefe;
	--white: #ffffff;
	--black: #000000;
	--icono: #2a72c0;
	--error: #f66060;
}

@mixin grid($cols, $gap) {
	display: grid;
	grid-template-columns: repeat($cols, 1fr);
	gap: $gap;
	@media screen and (max-width: 480px) {
		grid-template-columns: 1fr;
		// gap: 0em;
	}
}

@mixin flex($direction: column, $corte: wrap, $just, $align) {
	display: flex;
	flex-flow: $direction $corte;
	justify-content: $just;
	align-items: $align;
}

@mixin responsive($width: 480px) {
	@media screen and (max-width: $width) {
		@content;
	}
}

@mixin shadow($color) {
	box-shadow: 0rem 0rem 0.3125rem $color;
}

*::selection {
	background: $primary;
	color: $white;
}
.disclaimer {
	display: none;
}
body::-webkit-scrollbar {
	width: 0.4375rem;
}
body::-webkit-scrollbar-thumb {
	background: $primary;
	border-radius: 0.625rem;
}

body {
	background: $background;
	font-size: 1.125rem;
	font-family: $font;
	// transition: 0.3s all ease-in;
	animation: fadein 1s;
	word-wrap: break-word;
	&.light {
		background: $secundary;
		color: $black;
	}
}

p {
	overflow: hidden !important;
	padding: 0.625rem 0;
	line-height: 1.5625rem;
	margin-bottom: 1.25rem;
	color: $secundary;
	body.light & {
		color: $background !important;
	}
}

a {
	overflow: hidden;
	text-decoration: none;
	color: $secundary;
	border-bottom: 0.125rem solid transparent;
	body.light & {
		color: $background;
	}
}
.enlace__footer:hover {
	border-bottom: 0.125rem solid $secundary;
	body.light & {
		border-bottom: 0.125rem solid $background;
	}
}

.contenedor {
	// @include grid(3, 1.25rem);
	grid-template-areas:
		'header        header          header'
		'imagen         imagen          imagen'
		'informacion    informacion     informacion'
		'lenguajes      lenguajes       lenguajes'
		/* "parrafo"       "parrafo"       "parrafo" */
		'contacto       contacto        contacto'
		'footer         footer          footer';
}

// /**--------------------------------------------------------------*/
// /*!----------------- Header -----------------*/
// /**--------------------------------------------------------------*/

.header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	transition: 0.3s all ease-in-out;
	position: fixed;
	width: 100%;
	background-color: $segundo-bg;
	@include shadow($bg-title);
	z-index: 1;
	body.light & {
		background: $white;
		@include shadow($shadow);
	}
}

.container {
	// max-width: 100rem;
	margin: auto;
}

.header__logo {
	max-width: 170px;
	padding: 0.3125rem;
	height: auto;
	margin-left: 1.25rem;
	display: flex;
	align-items: center;
}

.header__nav {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-right: 1.25rem;
	@include responsive(51.875rem) {
		position: fixed;
		margin-left: 0;
		top: 6.3312rem;
		left: 0;
		width: 70%;
		z-index: 2;
		padding: 0.625rem;
		height: 100vh;
		background: $background;
		color: white;
		box-shadow: 0rem 0rem 0.1875rem $shadow;
		flex-direction: column;
		justify-content: space-evenly;
		transition: 0.5s all ease-in-out;
		transform: translateX(-100%);
	}
}

.header__enlaces {
	margin: 0 0.3125rem;
	padding: 0.75rem 0.9375rem;
	min-width: 6.25rem;
	display: flex;
	cursor: pointer;
	color: $primary !important;
	border-radius: 6.25rem;
	justify-content: center;
	align-items: center;
	transition: 0.5s all ease-in-out;
	font-weight: 500;
}

.header__enlaces:hover {
	background: $primary;
	color: $white;
}

.parallax,
.informacion,
.lenguajes,
.contacto {
	max-width: 100rem;
	margin: 0 auto;
}

.hamburguesa {
	display: none;
	margin-right: 1.25rem;
	@include responsive(51.875rem) {
		display: block;
	}
}

.icono__hamburguesa {
	background: transparent;
	color: $primary;
	margin: 0;
	display: flex;
	justify-content: center;
}

.icono__hamburguesa:hover {
	background: $shadow;
}

// /**--------------------------------------------------------------*/
// /*!----------------- Parallax -----------------*/
// /**--------------------------------------------------------------*/

.parallax {
	grid-area: imagen;
	position: sticky;
	height: 46.875rem;
	min-height: 250px;
	overflow: hidden;
	background: no-repeat center/100% url(../img/parallax.jpg);
	@include responsive(48rem) {
		height: 31.25rem;
	}
	@include responsive() {
		margin-top: 3.75rem;
		height: 15.625rem;
	}
}

.bg-paralax {
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(3px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.parallax__titulo {
	padding: 20px;
	min-width: 17.5rem;
	color: $primary;
	display: block;
	text-align: center;
	background: $shadow;
	border-radius: 0.625rem;
	transition: 0.3s all ease;
	backdrop-filter: blur(0.625rem);
	& h1 {
		font-size: 2.375rem;
		font-weight: bold;
		overflow: hidden;
		padding-left: 15px;
		padding-right: 15px;
		@include responsive() {
			padding-left: 0.3125rem;
			padding-right: 0.3125rem;
		}
	}
}

// /**--------------------------------------------------------------*/
// /*!----------------- Información -----------------*/
// /**--------------------------------------------------------------*/

.informacion {
	grid-area: informacion;
	margin: 0.625rem auto;
	padding: 0rem 1.875rem 0;
	position: sticky;
}

@media screen and (max-width: 100rem) {
	.informacion {
		max-width: 56.25rem;
	}
}

.informacion__titulo {
	margin: 1.5625rem 0 0.625rem;
	color: $primary;
	font-size: 2.375rem;
	font-weight: bold;
	padding: 0.1875rem 0;
	height: auto;
}

.informacion__subtitulo {
	margin: 0 0 0.625rem;
	padding: 0.625rem 0;
	color: $primary;
	font-weight: bold;
	height: auto;
}

.informacion__primer--parrafo {
	display: grid;
	gap: 0.625rem;
	grid-template-columns: 1.5fr 1fr;
	grid-template-areas: 'parrafo  img';
}

.informacion__principal {
	grid-area: parrafo;
}

.informacion__imagen {
	display: flex;
	justify-content: center;
	align-items: center;
}

.informacion__img {
	grid-area: img;
	width: 100%;
	max-width: 16.875rem;
	height: auto;
	border-radius: 100%;
	margin: 0.625rem auto;
	display: flex;
	justify-content: center;
}

// /**--------------------------------------------------------------*/
// /*!----------------- Lenguajes -----------------*/
// /**--------------------------------------------------------------*/

.habilidades {
	grid-area: lenguajes;
	margin: 0.625rem auto;
}

.habilidades__imagenes {
	display: grid;
	gap: 1.25rem;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	margin: 0.3125rem 0.625rem;
}

.habilidades__img--div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.img__centro {
	grid-column: span 3;
}

.habilidades__img {
	width: 9.375rem;
	height: auto;
	padding: 0.625rem;
	margin: 0 auto;
	filter: drop-shadow(0.1875rem 0.1875rem 0.1875rem $secundary);
}

// /* .parrafo_lenguajes{
//     grid-area: parrafo;
//     max-width: 56.25rem;
//     margin: 0.625rem auto;
//     padding: 0rem 1.875rem 0;
//     position: sticky;
// } */

// /**--------------------------------------------------------------*/
// /*!----------------- Formulario -----------------*/
// /**--------------------------------------------------------------*/

.formulario {
	grid-area: contacto;
	max-width: 100rem;
	width: 90%;
	margin: 0 auto;
	@include responsive(100rem) {
		width: 55%;
	}
}

.formulario__titulo {
	text-align: center;
}

.formulario__label {
	display: block;
	margin: 0.4375rem 0px;
	cursor: pointer;
	color: $white;
	body.light & {
		color: $black;
	}
	& div {
		margin: 5px 0;
	}
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: $white;
	border: 0.1875rem solid transparent;
	border-radius: 0.1875rem;
	height: 2.8125rem;
	line-height: 2.8125rem;
	padding: 0.625rem;
	transition: 0.3s ease all;
	body.light & {
		border: 0.1875rem solid $shadow;
	}
}

.formulario__textarea {
	width: 100%;
	padding: 0.625rem;
	outline: none;
	border-radius: 0.3125rem;
	margin: 0.3125rem 0;
	border: 0.1875rem solid transparent;
	body.light & {
		border: 0.1875rem solid $shadow;
	}
}

.formulario__input:focus,
.formulario__textarea:focus {
	border: 0.1875rem solid var(--icono);
	outline: none;
	box-shadow: 0.1875rem 0rem 1.875rem $shadow;
}

.formulario__input-error {
	font-size: 0.9375rem;
	margin: 0;
	padding: 0.3125rem 0.625rem;
	display: none;
	color: var(--error);
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 0.625rem;
	top: 0.8125rem;
	font-size: 1.0625rem;
	opacity: 0;
}

.formulario__mensaje {
	height: auto;
	line-height: 2.8125rem;
	background: var(--error);
	padding: 0rem 0.9375rem;
	border-radius: 0.3125rem;
	display: none;
	margin: 0.3125rem 0;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
	padding: 0.625rem;
	color: $white;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 2.8125rem;
	line-height: 2.8125rem;
	width: 30%;
	max-width: 18.75rem;
	background: $white;
	color: var(--black);
	font-weight: bold;
	border: none;
	border-radius: 0.1875rem;
	cursor: pointer;
	transition: 0.3s ease all;
	margin: 0.625rem 0 0;
}

.formulario__btn:hover {
	color: $white;
	background-color: $primary;
	box-shadow: 0.1875rem 0rem 1.875rem $shadow;
}

.formulario__mensaje-exito {
	font-size: 1rem;
	color: $primary;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

// /**--------------------------- Estilos para a validacion ---------------------------*/

.formulario__grupo-correcto .formulario__validacion-estado {
	color: $primary;
	opacity: 1;
}

.formulario__grupo-correcto .formulario__input {
	border: 0.1875rem solid $primary;
}

.formulario__grupo-incorrecto .formulario__label {
	color: var(--error);
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: var(--error);
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 0.1875rem solid var(--error);
}

// /**--------------------------- Para el textarea ---------------------------*/

.formulario__grupo-textarea-correcto .formulario__validacion-estado {
	color: $primary;
	opacity: 1;
}

.formulario__grupo-textarea-correcto .formulario__textarea {
	border: 0.1875rem solid $primary;
}

.formulario__grupo-textarea-incorrecto .formulario__label {
	color: var(--error);
}

.formulario__grupo-textarea-incorrecto .formulario__validacion-estado {
	color: var(--error);
	opacity: 1;
}

.formulario__grupo-textarea-incorrecto .formulario__textarea {
	border: 0.1875rem solid var(--error);
}

// /**--------------------------------------------------------------*/
// /*!----------------- Footer -----------------*/
// /**--------------------------------------------------------------*/

footer p {
	margin: 0;
	padding: 0;
	transition: 0.3s all ease;
}

.footer {
	margin-top: 20px;
	width: 100%;
	// margin-bottom: 30px;
	grid-area: footer;
	min-height: 8.125rem;
	background: $background;
	transition: 0.3s all ease;
	@include shadow($bg-title);
	// box-shadow: 0px 0px 10px ;
	body.light & {
		background: $white;
		color: $black;
		@include shadow($shadow);
	}
}

.footer__iconos {
	display: flex;
	justify-content: space-around;
}

.footer__parrafo {
	display: flex;
	justify-content: space-between;
	padding: 0.625rem 1.875rem;
	flex-wrap: wrap;
}

.icono {
	font-size: 2.1875rem;
	line-height: 2.1875rem;
	margin: 1.25rem 0 0.625rem;
	padding: 0.625rem;
	width: 3.4375rem;
	min-height: 3.4375rem;
	cursor: pointer;
	border-radius: 100%;
	display: flex;
	justify-content: center !important;
	color: $primary;
	transition: 0.3s all ease-in-out;
	border: 0.0625rem solid $background;
	backdrop-filter: blur(0.625rem);
	body.light & {
		color: $info;
		border: 0.0625rem solid $white;
		&:hover {
			background-color: rgba(0, 0, 0, 0.09);
		}
	}
	&:hover {
		background-color: $shadow;
	}
}

.icono__subir {
	margin: 0;
	right: 0.625rem;
	bottom: 0.625rem;
	position: fixed;
	background: transparent;
	border: 0.0625rem solid $shadow;
	display: flex;
	align-items: center;
	backdrop-filter: blur(0.625rem);
}

.icono__subir:hover {
	background: $shadow;
	color: $white;
}

.icono__nav {
	margin-right: 0.3125rem;
}

.icono__flex {
	display: flex !important;
}
.icono__none {
	display: none !important;
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
	line-height: normal !important;
}

// ========== Lang ==================
.lang {
	background: transparent;
	border: none;
	position: relative;
	cursor: pointer;
	display: flex;
	outline: none;
	img {
		width: 2.1875rem;
		margin-right: 0.4375rem;
		height: 2.1875rem;
		line-height: 2.1875rem;
		display: block;
	}
}
// .lang {
// 	background: $bg-title;
// 	border-radius: 62.5rem;
// 	border: none;
// 	position: relative;
// 	padding: auto;
// 	cursor: pointer;
// 	display: flex;
// 	outline: none;
// 	&::after {
// 		content: '';
// 		display: block;
// 		width: 1.875rem;
// 		height: 1.875rem;
// 		position: absolute;
// 		// backdrop-filter: blur(0.0625rem);
// 		background: $white;
// 		top: 2;
// 		left: 0;
// 		right: unset;
// 		border-radius: 6.25rem;
// 		transition: 0.3s ease all;
// 		box-shadow: 0px 0px 2px 2px $shadow;
// 	}
// 	&.active {
// 		background: $bg-title;
// 		&::after {
// 			right: 0;
// 			left: unset;
// 		}
// 	}
// 	img {
// 		width: 1.875rem;
// 		height: 1.875rem;
// 		line-height: 1.875rem;
// 		display: block;
// 		padding: 0px 5px;
// 	}
// }
.switch {
	background: $bg-title;
	border-radius: 62.5rem;
	border: none;
	position: relative;
	// padding-left: 0.3125rem;
	margin-right: 0.3125rem;
	cursor: pointer;
	display: flex;
	outline: none;
	&::after {
		content: '';
		display: block;
		width: 1.875rem;
		height: 1.875rem;
		position: absolute;
		background-color: $white;
		top: 2;
		left: 0;
		right: unset;
		border-radius: 6.25rem;
		transition: 0.3s ease all;
		box-shadow: 0px 0px 2px 2px $shadow;
	}
	body.light & {
		background: $orange;
		color: $white;
		&::after {
			right: 0;
			left: unset;
		}
	}
	img {
		width: 1.875rem;
		height: 1.875rem;
		line-height: 1.875rem;
		display: block;
		padding: 0px 5px;
	}
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

// /**--------------------------- Menjsae de error para internet exporer ---------------------------*/

.error__ie {
	font-size: 1.25rem;
	color: #000;
	background: #ff0000;
	padding: 0.625rem;
	width: 100%;
	height: 7.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	display: block !important;
	z-index: 99999;
}

// /**--------------------------------------------------------------*/
// /*!----------------- tamaños -----------------*/
// /**--------------------------------------------------------------*/

@media screen and (max-width: 62.5rem) {
	.body {
		font-size: 1.0625rem;
	}
	.formulario {
		width: 65%;
	}
}

@media (max-width: 55.625rem) {
	body {
		font-size: 1.0313rem;
	}
	.informacion__primer--parrafo {
		grid-template-columns: 1fr;
		grid-template-areas: 'parrafo' 'img';
	}
	// .parallax {
	// 	height: 28.125rem;
	// }
	// .parallax__imagen {
	// 	height: 37.5rem;
	// }
	// .parallax__titulo {
	// 	width: 60%;
	// 	// margin: 9.375rem 20% 0;
	// }
	.formulario {
		width: 75%;
	}
}

@media screen and (max-width: 41.75rem) {
	body {
		font-size: 1rem;
	}
	.formulario {
		width: 90%;
	}

	.hamburguesa {
		display: block !important;
	}

	.header__nav {
		position: fixed;
		margin-left: 0;
		top: 6.3312rem;
		left: 0;
		width: 70%;
		z-index: 2;
		padding: 0.625rem;
		height: 100vh;
		background: $background;
		color: white;
		box-shadow: 0rem 0rem 0.1875rem $shadow;
		flex-direction: column;
		justify-content: space-evenly;
		transition: 0.5s all ease-in-out;
		transform: translateX(-100%);
	}

	.header__nav2 {
		transform: translateX(0%);
	}

	.header2 .header__nav {
		top: 4.1875rem;
	}

	.habilidades__imagenes {
		grid-template-columns: repeat(3, 1fr);
	}
	.img__centro {
		grid-column: span 2;
	}
	.habilidades__img {
		width: 8.75rem;
	}
}

@media screen and (max-width: 430px) {
	// .parallax__titulo {
	// 	width: 80%;
	// 	min-width: auto;
	// 	// margin: 9.375rem 10% 0;
	// }
	.informacion {
		padding: 0 0.625rem 0;
	}
	.habilidades {
		margin: 0.3125rem;
	}
	.habilidades__imagenes {
		grid-template-columns: repeat(2, 1fr);
	}
	.habilidades__img {
		width: 8.4375rem;
	}
}

@media screen and (max-width: 18.75rem) {
	.habilidades__imagenes {
		grid-template-columns: 1fr;
	}
	.img__centro {
		grid-column: span 1;
	}
}

@media screen and (min-width: 100rem) {
	html {
		font-size: 1.5625rem;
	}
}

// /*!==============================================================*/
/*!================= Margenes =================*/
// /*!==============================================================*/
.mx-0 {
	margin-left: 0;
	margin-right: 0;
}
.mx-2 {
	margin-left: 0.3125rem;
	margin-right: 0.3125rem;
}

.px-0 {
	padding-left: 0;
	padding-right: 0;
}

.mb-2 {
	margin-bottom: 0.625rem;
}
.mb-3 {
	margin-bottom: 0.9375rem;
}
.mb-4 {
	margin-bottom: 1.25rem;
}
